.show-card{
    margin:5px;
    border-radius: 10px;
    transition: 500ms;
    transition-delay: 200ms;
}
.show-card:hover{
    transform: scale(1.05);
}

.show-card img{
    border-radius: inherit;
    width: 150px;
}